.login-background {
  background: url('../assets/EDITED.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.login-form {
  background: #fafad2;
}
.container-background {
  background: #fafad2;
}
.background-dark {
  background: #8b4513;
}
.school-logo {
  width: 100px;
  height: 100px;
}
.school-logo-v2 {
  width: 80px;
  height: 80px;
}
.full-height {
  height: 100%;
}
.m-input {
  width: 250px;
}
.student-subject-table {
  height: 318px;
  overflow-y: auto;
}
.table-head {
  font-size: 12px;
}
.table-grades {
  width: 720px;
  font-size: small;
}
td,
th {
  vertical-align: middle;
}

@media print {
  .student-subject-table {
    height: 100%;
  }
}
